---
class: home-template
layout: default
loadsPlugins: true
redirect_from:
    - /criptomo
---

{% include schema_home.html %}

<div class="site-content">
    <div class="inner">
        <main class="site-main"> 
        	<div class="toggle-grid">
	        	<a onclick="toggleGridView()" class="icon-grid top-link square fill-horizontal"></a>
	        </div>
        	<div class="list-view">
            {% for post in paginator.posts %}
                {% if post.author %}
                    {% assign writer = site.data.authors[post.author] %}
                {% else %}
                    {% assign writer = site.data.authors.daniel %}
                {% endif %}
            
                {% include article_feed_entry.html %}
            
            {% endfor %}
            </div>

            <div class="grid-view post-feed">
                <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
                {%  include post-card.html %}
            </div>

            {% if paginator.total_pages > 1 %}
            <nav class="pagination">
                <h2 class="screen-reader-text">Posts navigation</h2>
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="newer-posts icon-chevron-left square fill-horizontal"><span class="screen-reader-text">Siguientes</span></a>
                {% endif %}
                <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="older-posts icon-chevron-right square fill-horizontal"><span class="screen-reader-text">Anteriores</span></a>
                {% endif %}
            </nav><!-- .pagination -->
            {% endif %}
        </main><!-- .site-main -->


        
        {% include sidebar.html %}
    </div><!-- .inner -->
</div><!-- .site-content -->

<script src="{{ site.baseurl }}/js/plugins.js?{{site.time | date: '%s%N'}}"></script>
<script src="{{ site.baseurl }}/js/feed.js?{{site.time | date: '%s%N'}}"></script>