{% if site.ads.google %}
	<!-- <script async defer src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-1252171391624665",
		enable_page_level_ads: true
	  });
	</script> -->
<!-- 	<script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	    (adsbygoogle = window.adsbygoogle || []).onload = function () {
	        [].forEach.call(document.getElementsByClassName('adsbygoogle'), function () {
	            adsbygoogle.push({
					google_ad_client: "ca-pub-1252171391624665",
					enable_page_level_ads: true
	            });
	        });
	    }
	</script> -->
{% endif %}

	