{% assign translations-cta = site.data.translations.cta %}

{% if page.lang %}
    {% assign lang = page.lang %}
{% else %}
    {% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% endif %}

{% if site.ads.stormgain %}
  <div class="stormgain">
    <a href="{{ site.affiliate.stormgain }}" target="_blank" style="text-decoration: none;">
      <div class="features__item features__wallets">
        <div class="features__headline_container">
          <div class="features__headline">
            {{ site.data.translations.cta-stormgain.invest[lang] }} <span class="result-tokentype">BTC</span>
          </div>
          <span class="icon-credit-card-alt stormgain-card"></span>
        </div>
        <div class="features__title">{{ site.data.translations.cta-stormgain.title[lang] }}</div>

        <p class="features__text">{{ site.data.translations.cta-stormgain.body[lang] }}</p>
        <p class="features__link">{{ site.data.translations.cta-stormgain.cta[lang] }} &gt;</p> 
      </div>
    </a>
  </div>

  

{% endif %}

{% include ads_calculator_banner.html %}

{% if site.ads.moralis %}

  <div class="stormgain moralis">
    <a href="{{ site.affiliate.moralis }}" target="_blank" style="text-decoration: none;">
      <div class="features__item features__wallets">
<!--         <div class="features__headline_container">
          <div class="features__headline">
            {{ site.data.translations.cta-moralis.invest[lang] }}
          </div>
          <span class="icon-credit-card-alt stormgain-card"></span>
        </div> -->
        <div class="features__title">{{ site.data.translations.cta-moralis.title[lang] }}</div>

        <p class="features__text">{{ site.data.translations.cta-moralis.body[lang] }}</p>
        <p class="features__link">{{ site.data.translations.cta-stormgain.cta[lang] }} &gt;</p> 
      </div>
    </a>
    <div style="text-align: center; margin-top: 10%">
      <a class="mobile-only" href="https://moralismoney.com/start?tap_a=129476-3421ca&ref=nzvlodi" target="_BLANK" rel="nofollow"><img src="/images/affiliate/moralis-mobile.png" border="0"></a>


      <a class="not-mobile-only" href="https://moralismoney.com/start?tap_a=129476-3421ca&ref=nzvlodi" target="_BLANK" rel="nofollow"><img src="/images/affiliate/moralis-long.png" border="0"></a>
    </div>
  </div>
{% endif %}