<script type="application/ld+json">
{
    "@context": "http://schema.org", 
    "@type": "Blog",
    "keywords": "{{ site.keywords }}", 
    "url": "{{ site.url }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}"
    },
    "author": {
        "@type": "Person",
        "name": "{{ site.author_name }}",
        "sameAs": [
            "https://plus.google.com/{{ site.googleplus_username }}",
            "https://github.com/{{ site.github_username }}",
            "https://www.linkedin.com/in/{{ site.linkedin_username }}"
        ]
    }
}
</script>

