<script type="application/ld+json">
{
	"@context":"https://schema.org/",
	"@type":"BlogPosting",
	"datePublished": "{{page.date | date_to_xmlschema}}",
	"dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
	"mainEntityOfPage":{
		"@type":"WebPage",
		"@id":"{{site.url}}{{page.url}}"
	},
	"headline":"{{ page.title | truncate: 110 }}",
	"description":"{{ page.description | truncate: 110 }}",
{% assign _post_author_key = page.author | default: "daniel" %}
{% assign _post_author = site.data.authors[_post_author_key] %}
{% assign _pa_same_as_str = "" %}
{% if _post_author.social.twitter %}{% assign _pa_same_as_str = _pa_same_as_str | append: "https://twitter.com/" | append: _post_author.social.twitter | append: "," %}{% endif %}
{% if _post_author.social.github %}{% assign _pa_same_as_str = _pa_same_as_str | append: "https://github.com/" | append: _post_author.social.github | append: "," %}{% endif %}
{% if _post_author.social.medium %}{% assign _pa_same_as_str = _pa_same_as_str | append: "https://medium.com/" | append: _post_author.social.medium | append: "," %}{% endif %}
{% if _post_author.social.linkedin %}{% assign _pa_same_as_str = _pa_same_as_str | append: _post_author.social.linkedin | append: "," %}{% endif %}
{% assign _pa_same_as = _pa_same_as_str | split: "," %}
	"author":{
		"@type":"Person",
		"name":"{{ _post_author.author_name | default: site.author_name }}",
		"url":"{{ site.url }}{{ author_page_url }}",
		"image":"{{ site.url }}{{ _post_author.author_image }}",
		"jobTitle":"{{ _post_author.author_job_title }}",
		"description":"{{ _post_author.author_bio }}"{% assign _pa_count = 0 %}{% for url in _pa_same_as %}{% if url != "" %}{% assign _pa_count = _pa_count | plus: 1 %}{% endif %}{% endfor %}{% if _pa_count > 0 %},
		"sameAs":[{% assign _pa_first = true %}{% for url in _pa_same_as %}{% if url != "" %}{% unless _pa_first %},{% endunless %}"{{ url }}"{% assign _pa_first = false %}{% endif %}{% endfor %}]{% endif %}
	},
	"image":{
		"@type":"ImageObject",
		"url":"{{site.url}}/images/posts/{{page.banner_image}}",
		"width":"600",
		"height":"400"
	},
	"publisher":{
		"@type":"Organization",
		"name":"{{ site.title }}",
		"logo":{
			"@type":"ImageObject",
			"url":"https://criptomo.com/images/logo.png",
			"width":128,
			"height":32
		}
	}
	{% if page.rating and page.totalVotes %}
	,"aggregateRating":{
		"@type":"AggregateRating",
		"ratingValue":"{{ page.rating | default: 4}}",
		"ratingCount": {{ page.totalVotes | default: 2}}
	}
	{% endif %}
}
</script>
