<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "datePublished": "{{page.date}}",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Course",
    "image": "{{site.url}}/images/{{page.banner_image}}",
    "name": "{{ page.title |  truncate: 110 }}",
    "description":"{{ page.description |  truncate: 110 }}",
  },
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating | default: 4}}",
    "ratingCount": {{ page.totalVotes | default: 2}}
  },
  "name": "A good seafood place.",
  "author": {
    "@type": "Organization",
    "name": "{{ site.title }}"
  }
}
</script>
