<script type="application/ld+json">
{
	"@context":"https://schema.org/",
	"@type":"BlogPosting",
	"datePublished": "{{page.date | date_to_xmlschema}}",
	"dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
	"mainEntityOfPage":{
		"@type":"WebPage",
		"@id":"{{site.url}}{{page.url}}"
	},
	"headline":"{{ page.title | truncate: 110 }}",
	"description":"{{ page.description | truncate: 110 }}",
	"author":{
		"@type":"Person",
		"name":"{{ site.data.authors[page.author].author_name | default: site.author_name }}",
		"url":"{{ site.data.authors[page.author].author_url | default: site.url }}"
	},
	"image":{
		"@type":"ImageObject",
		"url":"{{site.url}}/images/posts/{{page.banner_image}}",
		"width":"600",
		"height":"400"
	},
	"publisher":{
		"@type":"Organization",
		"name":"{{ site.title }}",
		"logo":{
			"@type":"ImageObject",
			"url":"https://criptomo.com/images/logo.png",
			"width":128,
			"height":32
		}
	}
	{% if page.rating and page.totalVotes %}
	,"aggregateRating":{
		"@type":"AggregateRating",
		"ratingValue":"{{ page.rating | default: 4}}",
		"ratingCount": {{ page.totalVotes | default: 2}}
	}
	{% endif %}
}
</script>
