<aside class="sidebar">

    {% if site.ads.google %}
    <section class="widget widget-text">
        <!-- criptomo custom banner -->
        <div class="lazy-load-ad" data-slot="8512204674"></div>
    </section><!-- .widget-text-->
    {% endif %}

    {% if site.ads.moralis %}
        <section class="widget" style="height: auto">
            <a title="moralis money" href="https://moralismoney.com/start?tap_a=129476-3421ca&ref=nzvlodi" target="_BLANK" rel="nofollow">
                <img alt="signup to moralis money to find altcoin gems" src="/images/affiliate/moralis-mobile.png" border="0" width="300" height="100">
                <span style="position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0;">Moralis Signup</span>
            </a>
        </section>

    {% endif %}

    <section class="widget widget-text marketcaps">
        <p class="widget-title">Marketcaps</p>

        {% for currency in site.data.sidebar-currencies limit:5 %}

        <div title="{{ currency.id }}" class="sidebar-ticker" data-currency="{{ currency.id }}">
            <div class="ticker-icon" style="background-image: url(/images/general/cryptocurrencies/{{ currency.icon }});"></div>
            <span id="sidebar-ticker-{{currency.id}}" class="coinmarketcap-currency-widget">
                <span class="ticker-price"></span>
                <span class="{{ currency.id }}-ticker-price-change"></span>
            </span>
        </div>

        {% endfor %}

         <div style="text-align:right;font-size:14px">
            {% if page.lang == 'en' %} 
                {% assign marketcaps = '/marketcaps' %}
            {% else %}
                {% assign marketcaps = '/cotizaciones' %}
            {% endif %}
            <a href="{{ marketcaps }}" rel="nofollow" style="text-decoration: none">+ marketcaps</a>
        </div>
    </section>

    {% if page.lang %}
        {% assign lang = page.lang %}
    {% else %}
        {% assign lang = site.locale | slice: 0,2 | default: "en" %}
    {% endif %}

        {% if page.layout != 'post' %}
            {% if site.mailchimp_url_es %}
                {% assign translations = site.data.translations.subscribe %}
            <section class="widget widget-newsletter">
                <p class="widget-title">{{ site.title}} Newsletter</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="{{ site.mailchimp_url_es }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL">{{ translations.sidebar-message[lang] }}</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ translations.placeholder[lang] }}" required>
                            <div class="clear"><input type="submit" value="{{ translations.button[lang] }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                        <div class="mc-field-group input-group" style="display:none">
                            <strong>Language</strong>
                            <ul>
                                {% if lang == 'en' %}
                                    {% assign EN = 'checked' %}
                                    {% assign ES = '' %}
                                {% else %}
                                    {% assign EN = '' %}
                                    {% assign ES = 'checked' %}
                                {% endif %}
                                <li>
                                    <input type="checkbox" value="1" name="group[21977][1]" id="mce-group[21977]-21977-0" {{ EN }}>
                                    <label for="mce-group[21977]-21977-0">English</label>
                                </li>
                                <li>
                                    <input type="checkbox" value="2" name="group[21977][2]" id="mce-group[21977]-21977-1" {{ ES }}>
                                    <label for="mce-group[21977]-21977-1">Spanish</label>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </section><!-- .widget -->
            {% endif %}
        {% endif %}

        <section class="widget widget-recent-posts">
            <p class="widget-title">{{ site.data.translations.popular-entries[lang] }}</p>
            <ul class="recent-posts">
                {% assign i = 0 %}
                {% assign pages = site.pages | where:"popular", true | where:"lang", lang %}
                {% for post in pages %}
                    {% if post.lang != post.lang %}
                        {% continue %}
                    {% endif %}
                    {% if i == 5 %}
                        {% break %}
                    {% endif %}
                    {% assign i = i | plus: 1 %}
                        <li class="recent-item">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span>{% include signature.html date=post.date %}</span>
                        </li>                    
                {% endfor %}
                {% assign i = 0 %}
                {% assign posts = site.posts | where:"lang", page.lang | where:"popular", true %}
                {% for post in posts %}
                    {% if post.lang != page.lang %}
                        {% continue %}
                    {% endif %}
                    {% if i == 5 %}
                        {% break %}
                    {% endif %}
                    {% assign i = i | plus: 1 %}
                        <li class="recent-item">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span>{% include signature.html date=post.date %}</span>
                        </li>                    
                {% endfor %}
            </ul><!-- .recent-posts -->
        </section><!-- .widget-recent-posts -->

        <section class="widget widget-recent-posts">
            <p class="widget-title">{{ site.data.translations.last-entries[lang] }}</p>
            <ul class="recent-posts">
                {% assign i = 0 %}
                {% assign posts = site.posts | where:"lang", page.lang %}
                {% for post in posts %}
                    {% if post.lang != page.lang %}
                        {% continue %}
                    {% endif %}
                    {% if i == 5 %}
                        {% break %}
                    {% endif %}
                    {% assign i = i | plus: 1 %}
                        <li class="recent-item">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span>{% include signature.html date=post.date %}</span>
                        </li>                    
                {% endfor %}
            </ul><!-- .recent-posts -->
        </section><!-- .widget-recent-posts -->

        <!--Create a sorted array of tags-->
        {% comment %}{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign sortedTags = site_tags | split:',' | sort %}
        <section class="widget widget-tags">
            <p class="widget-title">Tags</p>
            <div class="tagcloud">
                {% for tag in sortedTags %}
                <a href="{{site.baseurl}}/tags/#{{ tag | cgi_escape }}">{{ tag }}</a>
                {% endfor %}
                <a href="{{site.baseurl}}/tags/">...</a>
            </div><!-- .tagcloud -->
        </section><!-- .widget -->{% endcomment %}

</aside><!-- .sidebar -->
