<!-- Google Tag Manager (delayed until first user interaction) -->

<link rel="dns-prefetch" href="https://www.googletagmanager.com/">

<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });

        var events = ['pointerdown', 'mousemove', 'keydown', 'scroll', 'touchstart'];
        var loaded = false;

        function loadGtm() {
            if (loaded) {
                return;
            }
            loaded = true;

            events.forEach(function(name) {
                w.removeEventListener(name, loadGtm);
            });

            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s);
            var dl = l !== 'dataLayer' ? '&l=' + l : '';

            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;

            f.parentNode.insertBefore(j, f);
        }

        events.forEach(function(name) {
            w.addEventListener(name, loadGtm, { once: true, passive: true });
        });
    })(window, document, 'script', 'dataLayer', '{{ site.tag-manager-id }}');
</script>

<!-- End Google Tag Manager -->
