<!-- Google Tag Manager -->

{% if site.partytown %}
        <script src="js/public/partytown.js"></script>
        <!-- Partytown method -->
        <script type="text/partytown">
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                
                var f = d.getElementsByTagName(s)[0];
                var j = d.createElement(s);
                var dl = l != 'dataLayer' ? '&l=' + l : '';
                
                j.defer = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '{{ site.tag-manager-id }}');
        </script>

<!-- End Partytown -->

{% else %}

    <link href="https://www.googletagmanager.com/gtag/js?id={{ site.tag-manager-id }}" rel="preload" as="script">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">

    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            
            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s);
            var dl = l != 'dataLayer' ? '&l=' + l : '';
            
            j.defer = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{ site.tag-manager-id }}');
    </script>
    <!-- End Google Tag Manager -->
{% endif %}


