#calculator-results {
	display: none;
    padding-top: 30px;
	span {
		font-weight: bold;
		display: unset;
	}
}

.gained-percentage-positive {
	color: green;
}

.gained-percentage-negative {
	color: red;
}

.input-error {
	border-color: red;
	color: red;
}

.calculator-othercoins {
    display: none;
}

.calculator-form-row {
    display: table;
    width: 100%;
    padding-bottom: 5px;
}

.calculator-form-row:after {
    padding: 0;
    margin: 0;
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5px;
}

.calculator-col-start {
    vertical-align: middle;
    display: table-cell;
    width: 30%;
}

.calculator-col-end {
    vertical-align: middle;
    display: table-cell;
    width: 70%;
}

.calculator-othercoins span {
    font-size: 80%;
    font-style: italic;
    margin: 0;
    padding-left: 5px;
}

.calculator-result-container {
    padding-top: 15px;
}

.calculator-result-container {
    p, span {
        padding: 0;
        margin: 0;
    }
}

.calculator-loader-container {
    padding-top: 30px;
}

@media (max-width: 600px) {

	.calculator-form-row {
    	display: inline;
	}
    
    .calculator-col-start {
		display: inline;
        width: 100%;
    }
    
    .calculator-col-end {
		display: inline;
        width: 100%;
    }
    
    .calculator-block select, .calculator-block input, .calculator-block button {
        width: 100%;
        margin-top: 5px;
    }
    
    .calculator-block label {
        margin-top: 15px;
    }
    
    .calculator-form-row:after {
        padding-bottom: 15px;
    }
    
}