#calculator-results {
	display: none;
	span {
		font-weight: bold;
	}
}
#invest-quantity {
	width: 100px;
}
.gained-percentage-positive {
	color: green;
}
.gained-percentage-negative {
	color: red;
}
.input-error {
	border-color: red;
	color: red;
}
.editOption {
    position: relative;
    right: 117px;
    padding-left: 5px;
    width: 95px;
    display: none;
}