.coinmarketcap-currency-widget {
	margin-bottom: 10px;
	div {
		border: 0px !important;
		a {
			display: none;
		}
	}
}
code {
	background-color: #ddd;
	color: darkblue;
}
figure {
	text-align: center;
	a {
		text-decoration: none;
	}
}
ins {
	background-color: $mine-shaft !important;
}
.embedded {
	display: flex;
	align-items: center;
	justify-content: center;
}
.small-image {
	height: 50px;
}
.small-banner {
	max-width: 40%;
}
.site-title {
	font-weight: bold;
}
.responsive-video-container {
	figcaption {
		margin-bottom: 15px;
	}
}
.table {
	tr {
		td {
			font-size: 80%;
		}
	}
}
@media only screen and (max-width: 700px) {
        .table-collapsable {
            display: none;
        }
}
.profits {
	color: green;
}