.coinmarketcap-currency-widget {
	margin-bottom: 10px;
	margin-left: 15px;
	div {
		border: 0px !important;
		a {
			display: none;
		}
	}
}
.ticker-icon {
	width: 32px;
	height: 32px;
	text-align: center;
	display: inline-block;
	vertical-align: middle; 
	background-repeat: no-repeat;
	background-size: 32px 32px;
}
.sidebar-ticker {
	margin-top: 15px;
	margin-bottom: 15px;
    color: $marketcap-price;
}
.ticker-price-change-positive {
	color: green;
}
.ticker-price-change-negative {
	color: red;
}
code {
	background-color: #fcedea;
	font-size: 90%;
	color: #c0341d;
	padding: 2px 4px;
	border-radius: 3px;
}
figure {
	text-align: center;
	a {
		text-decoration: none;
	}
}
ins {
	background-color: $mine-shaft;
}
.adsbygoogle.white-ad {
	background-color: $white;
}
.embedded {
	display: flex;
	align-items: center;
	justify-content: center;
}
.small-image {
	height: 30px;
}
.small-banner {
	max-width: 40%;
}
.site-title {
	font-weight: bold;
}
.responsive-video-container {
	figcaption {
		margin-bottom: 15px;
	}
}
.table {
	tr {
		td {
			font-size: 80%;
		}
	}
}
@media only screen and (max-width: 700px) {
    .table-collapsable {
        display: none;
    }
}
.profits {
	color: green;
}
p {
	strong {
	color: #333;
	}
}
.entry-content hr {
	background-color: $picton-blue;
}

.no-margins {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.corporate-blue{
	color: $picton-blue;
}
progress {
	z-index: 2;
	/* Positioning */
	position: fixed;
	left: 0;
	top: 0;

	/* Dimensions */
	width: 100%;
	height: 5px;

	/* Reset the appearance */
	-webkit-appearance: none;
	 -moz-appearance: none;
	      appearance: none;

	/* Get rid of the default border in Firefox/Opera. */
	border: none;

	/* Progress bar container for Firefox/IE10+ */
	background-color: transparent;

	/* Progress bar value for IE10+ */
	color: $picton-blue;


    @media (max-width: $small-screen-breakpoint) {
    	margin-top: $topnav-mobile-spacing;
    	transition: margin-top 0.2s ease-in-out;
    }

}
progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $picton-blue;
}

progress::-moz-progress-bar {
  background-color: $picton-blue;
}

input:focus, select:focus {
	outline: none;
	border-color: $picton-blue;
}

.loader {
	background: url("/images/general/loading.gif");
	background-size: 100px 100px;
	height: 100px;
	width: 100px;
	display: none;
	margin-left: auto;
	margin-right: auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.error {
	display: none;
	color: red;
}
.news-source {
	text-align: right;
	font-size: 80%;
}
.tweet-block {
	margin-bottom: 40px;
}
.widget-newsletter {
	color: $white;
}
.tag {
	display: none;
}
.archive-tags-list {
	text-align: center;
	.active {
		background-color: $picton-blue;
		color: $white;
	}
}
.right {
	float: right;
}
@media (min-width: $small-screen-breakpoint) {
	.mobile-only {
		display: none;
	}
}
@media (max-width: $small-screen-breakpoint) {
	.site-navigation {
    	position:fixed;
    	width: 100%;
    	z-index: 1;
    	top:0px;
    	transition: top 0.2s ease-in-out;
    }
	.site-header {
		margin-top: 50px;
	}
}
.ad-space {
	margin-top: 20px;
}
.widget-text.marketcaps {
	display: none;
}
.donate {
	color: #666;
	border-bottom: 2px solid #474747;
	padding-top: 25px;
}
.donate div {
	padding-bottom: 19px;
}
.donate span {
	color: white;
}
.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 27px;
    background-color: $picton-blue;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 27px; margin: -3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 27px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: $picton-blue;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: $picton-blue;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #FFFFFF; 
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
.tooltip {
  position: relative;
  display: inline-block;
  sup {
  	small {
  		cursor: pointer;
  	}
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Progress Bar */
#_progress {
	--scroll: 0%;
	background: linear-gradient(to right,$picton-blue var(--scroll),transparent 0);
	position: fixed;
	width: 100%;
	height: 5px;
	top:0px;
	z-index: 100;
}