
/**
 * Table of Contents
 * ----------------------------------------------------------------------------
 * 0. Structure        (this file)
 * 1. Site Navigation  → _nav.scss
 * 2. Site Header      → _site-header.scss
 * 3. Content          → _post.scss
 * 4. Site Footer      → _site-footer.scss
 * 5. Widgets          → _widgets.scss
 * 6. Media Queries    → _media.scss
 */

/**
 * 0. Structure
 * ----------------------------------------------------------------------------
 */

.site-navigation,
.site-header,
.site-content,
.site-footer {
    padding-left: 30px;
    padding-right: 30px;
}

.inner {
    margin: 0 auto;
    max-width: 1200px;
}

.site-main {
    float: left;
    margin-bottom: 30px;
    width: 75%;
}

.sidebar {
    float: right;
    font-size: 16px;
    margin-bottom: 30px;
    width: 21.666%;
}

@import "nav";
@import "site-header";
@import "post";
@import "site-footer";
@import "widgets";
@import "media";
