.marketcaps-pricechange-positive {
    color: green;
    text-align: right;
}

.marketcaps-pricechange-negative {
    color: red;
    text-align: right;
}

.marketcaps-icon img {
    max-width: 32px;
    max-height: 32px;
}