.marketcaps-pricechange-positive {
    color: green;
    text-align: right;
}

.marketcaps-pricechange-negative {
    color: red;
    text-align: right;
}

.marketcaps-icon img {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
}

.marketcaps-table-top {
    padding: 0px;
    margin: 0;
}

.marketcaps-table-bottom {
    padding: 15px;
    margin: 0;
}

.marketcaps-table-column-spacer {
    padding: 5px !important;
    margin: 0 !important;
}

#marketcaps-table_paginate a.paginate_button {
    background-color: #ededed;
    background: #ededed;
    border: 0px solid transparent;
    border-radius: 0px;
    color: #333333 !important;
    margin: 2px;
    font-weight: bold;

    box-shadow: inset 0 0 0 0 $picton-blue;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    &:hover:not(.disabled):not(.current) {
        background-color: $picton-blue;
        box-shadow: inset 100px 0 0 0 $picton-blue;
    }
}

#marketcaps-table_paginate a.disabled {
    background-color: #ededed;
    background: #ededed;
    color: #818181 !important;
}

#marketcaps-table_paginate a.current {
    background-color: #22b3eb;
    background: #22b3eb;
    color: #ffffff !important;
    font-weight: bold;
}

#marketcaps-table th {
    border-bottom: 1px solid #ddd;
}

table#marketcaps-table {
    border-bottom: 1px solid #ddd;
}

.marketcaps-table-top {
    text-align: left;
    display: flex;
    padding: 0px;
    margin: 0;
    input, select {
        display: block;
        width: 100%;
    }
    label {
        margin: 0; 
    }
}

.marketcaps-table-filter {
    width: 60%;
    padding: 15px;
}

.marketcaps-table-currency {
    width: 20%;
    padding: 15px 0px;
}

.marketcaps-table-pagelength {
    width: 20%;
    padding: 15px;
}

.marketcaps-table-footer{
    text-align: right;
    padding: 15px;
}

@media (max-width: 600px) {
    
    .marketcaps-table-top {
        padding: 15px;
        margin: 0;
    }
    
    #marketcaps-table_filter {
        float: none;
        width: 100%;
        text-align: left;
        display: block;
        padding: 0px;
        padding-bottom: 5px;
        margin: 0;
    }
    
    #marketcaps-table_filter input {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    #marketcaps-table_filter label {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #marketcaps-table_length {
        float: none;
        width: 100%;
        text-align: left;
        display: block;
        padding: 0px;
        padding-bottom: 5px;
        margin: 0;
    }
    
    #marketcaps-table_length select {
        display: block;
        width: 100%;
        margin: 0;
    }
    
    #marketcaps-table_length label {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .marketcaps-table-top {
        display: block;
    }
    
    .marketcaps-table-filter,
    .marketcaps-table-currency,
    .marketcaps-table-pagelength {
        display: block;
        width: 100%;
        padding: 0px;
        padding-bottom: 5px;
        margin: 0;
    }
        
}

#marketcaps-table_processing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.carot-icon {
    font-size: 50%;
    vertical-align: middle;
}

.marketcap-symbol {
    font-size: 100%;
}

.marketcaps-coinname {
    font-size: 90%;
}
