
/* 7.1. Subscribe Form
/* ---------------------------------------------------------- */

.subscribe-form {
    margin-bottom: $block-separation-desktop;
    padding: 6.5vw 7vw 7vw;
    border: $picton-blue 1px solid;
    text-align: center;
    background: $tundora;
    @media only screen and (max-width: $menu-jump-breakpoint) {
        margin-bottom: $block-separation-mobile;
    }
    p {
        margin-bottom: 1em;
        color: $white;
        font-size: 1.2rem;
        line-height: 1.55em;
        letter-spacing: 0.2px;
        @media (max-width: 650px) {
            font-size: 1rem;
        }
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 420px;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
    .email {
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    .button {
        position: relative;
        top: -3px;
        @media (max-width: 500px) {
            margin: 10px 0 0 0;
            width: 100%;
        }
    }

}

.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: $white; //var(--darkgrey);
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    @media (max-width: 650px) {
        font-size: 2.4rem;
    }
}

.subscribe-form .form-group {
    flex-grow: 1;
    @media (max-width: 500px) {
        width: 100%;
    }
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    border: $silver 1px solid;
    color: $gray;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;

    &:focus {
        outline: 0;
        border-color: $silver;
    }
}