---
layout: default
---

{% assign author = site.data.authors[page.author_key] %}
{% assign lang = page.lang | default: 'es' %}
{% assign t_about = site.data.translations.about %}
{% assign t_author = site.data.translations.author %}

{% assign _same_as_str = "" %}
{% if author.social.twitter %}{% assign _same_as_str = _same_as_str | append: "https://twitter.com/" | append: author.social.twitter | append: "," %}{% endif %}
{% if author.social.github %}{% assign _same_as_str = _same_as_str | append: "https://github.com/" | append: author.social.github | append: "," %}{% endif %}
{% if author.social.medium %}{% assign _same_as_str = _same_as_str | append: "https://medium.com/" | append: author.social.medium | append: "," %}{% endif %}
{% if author.social.linkedin %}{% assign _same_as_str = _same_as_str | append: author.social.linkedin | append: "," %}{% endif %}
{% assign _same_as = _same_as_str | split: "," %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ author.author_name }}",
  "url": "{{ site.url }}{{ page.url }}",
  "image": "{{ site.url }}{{ author.author_image }}",
  "jobTitle": "{{ author.author_job_title }}",
  "description": "{{ author.author_bio }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  }{% assign _sameAs_count = 0 %}{% for url in _same_as %}{% if url != "" %}{% assign _sameAs_count = _sameAs_count | plus: 1 %}{% endif %}{% endfor %}{% if _sameAs_count > 0 %},
  "sameAs": [{% assign _first = true %}{% for url in _same_as %}{% if url != "" %}{% unless _first %},{% endunless %}"{{ url }}"{% assign _first = false %}{% endif %}{% endfor %}]{% endif %}
}
</script>

<div class="site-content">
  <div class="inner">
    <main class="site-main">
      <div class="author-box">
        <div class="author-info">
          <img class="author-avatar" loading="lazy" alt="{{ author.author_name }}" src="{{ site.baseurl }}{{ author.author_image }}"/>
          <div class="author-details">
            <h1 class="author-title">{{ t_about.title[lang] }} {{ author.author_name }}</h1>
            {% if author.author_job_title %}<p class="author-job-title">{{ author.author_job_title }}</p>{% endif %}
            <p class="author-bio">{{ author.author_bio }}</p>
            {% if author.author_location %}<span class="author-location"><i class="icon-location" aria-hidden="true"></i> {{ author.author_location }}</span>{% endif %}
            {% if author.author_url %}
            <span class="author-website">
              <i class="icon-link" aria-hidden="true"></i>
              <a href="{{ author.author_url }}" target="_blank" rel="noopener">
                {{ author.author_url_name | default: author.author_url }}
              </a>
            </span>
            {% endif %}
            {% if author.social.twitter %}
            <span class="author-social">
              <a href="https://twitter.com/{{ author.social.twitter }}" target="_blank" rel="noopener">Twitter</a>
            </span>
            {% endif %}
            {% if author.social.github %}
            <span class="author-social">
              <a href="https://github.com/{{ author.social.github }}" target="_blank" rel="noopener">GitHub</a>
            </span>
            {% endif %}
            {% if author.social.medium %}
            <span class="author-social">
              <a href="https://medium.com/{{ author.social.medium }}" target="_blank" rel="noopener">Medium</a>
            </span>
            {% endif %}
            {% if author.social.linkedin %}
            <span class="author-social">
              <a href="{{ author.social.linkedin }}" target="_blank" rel="noopener">LinkedIn</a>
            </span>
            {% endif %}
          </div>
        </div>
      </div>

      <section class="author-posts">
        <h2>{{ t_author.articles_by[lang] }} {{ author.author_name }}</h2>

        {% assign author_posts = site.posts | where: "author", page.author_key %}
        {% if page.author_key == "daniel" %}
          {% assign default_posts = site.posts | where_exp: "post", "post.author == blank" %}
          {% assign author_posts = author_posts | concat: default_posts | sort: "date" | reverse %}
        {% endif %}

        <ul class="post-list">
          {% for post in author_posts %}
          <li>
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d/%m/%Y" }}</time>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>

    </main>
  </div>
</div>
