---
layout: compress
---
<!DOCTYPE html>

{% if page.lang %}
    {% assign lang = page.lang %}
{% else %}
    {% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% endif %}

<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    {% include seo.html %}    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="preload" href="/fonts/icomoon.eot?lc16yo" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/icomoon.ttf?lc16yo" as="font" crossorigin="anonymous" />
    <link rel="preload" href="{{ site.baseurl }}/css/main.css?{{site.time | date: '%s%N'}}" as="style" />
    <link rel="preload" href="{{ site.baseurl }}/js/plugins.js?{{site.time | date: '%s%N'}}" as="script" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{site.time | date: '%s%N'}}" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
    {% if page.progress %}
    <div id="_progress"></div>
    {% endif %}
    <nav id="top" class="site-navigation">
        <div class="inner">
            <button id="menu-toggle" class="js-toggle" data-container="nav-menu">Menu</button>
            <ul id="language-picker">

                {%  assign languages = site.data.languages %}
                {% for language in languages %}

                {% if lang == language.name %}
                    {% assign current = 'nav-current' %}
                {% else %}
                    {% assign current = '' %}
                {% endif %}

                <li class="{{ current }}">
                    <a class="{{ current }}" href="{{ language.url }}">
                        <small>{{ language.name | upcase }}</small>
                    </a>
                </li>

                {% endfor %}
            </ul> 
            <div class="nav-menu toggle-container" id="nav-menu">
                <ul class="menu">
                {% if lang == 'es' %}
                    {%  assign navigation = site.data.navigation %}
                {% elsif lang == 'en'%}
                    {%  assign navigation = site.data.navigation-en %}
                {% elsif lang == 'de'%}
                    {%  assign navigation = site.data.navigation-de %}
                {% elsif lang == 'fr'%}
                    {%  assign navigation = site.data.navigation-fr %}
                {% endif %}

                {% for link in navigation %}
                  {% assign current = nil %}
                  {% if page.url == link.url %}
                    {% assign current = 'nav-current' %}
                  {% endif %}
                  <li class="{{ current }}">
                    <a class="{{ current }}" href="{{site.baseurl}}{{ link.url }}">{{ link.text }}</a>
                  </li>
                {% endfor %}

                </ul>
            </div><!-- .nav-menu -->  
        </div><!-- .inner -->
    </nav><!-- .site-navigation -->
    <header class="site-header">
        <div class="inner">
            {% if lang == 'es' %}
                {% assign home = site.baseurl %}
            {% else %}
                {% assign home = site.baseurl-en %}
            {% endif %}
            <span class="site-title"><a class="logo-text" href="{{ home }}/">{{site.title}}</a></span>
            <p class="site-description">
                {% if lang == 'es' %}
                    {{site.tagline}}
                {% else %}
                    {{site.tagline-en}}
                {% endif %}
            </p>
        </div><!-- .inner -->
    </header>
    {{content}}
    {% include footer.html %}
    {% if site.tag-manager == true %}
        {% include tag-manager-head.html %}
        {% include tag-manager-body.html %}
    {% elsif %}
        {% include analytics.html %}
    {% endif %}
    {% include mailchimp.html %}

    <script defer src="/js/essentials.js?{{site.time | date: '%s%N'}}"></script>

    {% if page.layout == 'post' %}
    <script defer src="/js/plugins.js?{{site.time | date: '%s%N'}}"></script>
    <script defer src="{{ site.baseurl }}/js/custom.js?{{site.time | date: '%s%N'}}"></script>
    {% endif %}
    {% include ads_adsense.html %}
    {% include contents.html %}
</body>
</html>
