---
layout: default
---
<div class="site-content">
    <div class="inner">
        <main class="site-main">
            <article class="post">
                <header class="entry-header-nomargins">
                    <div class="entry-header-wrap">  
                        {% if page.thumbnail_full %}
                            <img class="post-thumbnail-full" src="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                        {% else %}
                            <img class="post-thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" style="background-image: url({{ "/images/" | append: page.banner_image | prepend: site.baseurl }});" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                        {% endif %}
                        <h1 class="entry-title">{{page.title}}</h1>
                    </div><!-- .entry-header-wrap -->
                </header><!-- .entry-header -->
                <div class="entry-content-nomargins">
                    {{content}}
                </div><!-- .entry-content-nomargins -->
            </article><!-- .post -->
            {% if site.disqus and page.comments %}
                {% include disqus.html %}
            {% endif %}
        </main><!-- .site-main -->
        {% include sidebar.html %}
    </div><!-- .inner -->
</div><!-- .site-content -->
