---
layout: default
---

<link rel="preload" as="image" href="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" />

<div class="site-content">
    {% if page.schema %}
        {% include schema_page.html %}
    {% endif %}
    <div class="inner">
        {% if page.sidebar == false %}
            {% assign style = "width: 100%" %}
        {% endif %}
        <main class="site-main" style="{{ style }}">
            <article class="post">
                <header class="entry-header {% if page.noMargins %} no-margins {% endif %}">
                    <div class="entry-header-wrap">  
                        {% if page.thumbnail_full %}
                            <img class="post-thumbnail-full" src="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                        {% else %}
                            <img class="post-thumbnail" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" style="background-image: url({{ "/images/" | append: page.banner_image | prepend: site.baseurl }}); width: calc(100%);" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                        {% endif %}
                        <h1 class="entry-title">{{page.title}}</h1>
                    </div><!-- .entry-header-wrap -->
                </header><!-- .entry-header -->
                <div class="entry-content {% if page.noMargins %} no-margins {% endif %}">
                    {{content}}
                </div><!-- .entry-content -->
            </article><!-- .post -->
            {% if site.disqus and page.comments %}
                {% include disqus.html %}
            {% endif %}
        </main><!-- .site-main -->
        {% if page.sidebar != false %}
            {% include sidebar.html %}
        {% endif %}
    </div><!-- .inner -->
</div><!-- .site-content -->
