---
layout: default
---

<div class="site-content">
    {% if page.schema %}
        {% include schema_page.html %}
    {% endif %}
    {% include schema_breadcrumb.html %}
    <div class="inner">
        {% if page.sidebar == false %}
            {% assign style = "width: 100%" %}
        {% endif %}
        <main class="site-main" style="{{ style }}">
            <article class="post">
                <header class="entry-header {% if page.noMargins %} no-margins {% endif %}">
                    <div class="entry-header-wrap{% unless page.banner_image and page.show_banner_image != false %} entry-header-wrap--title-only{% endunless %}">
                        {% if page.banner_image and page.show_banner_image != false %}
                            {% if page.thumbnail_full %}
                                <img width="600" height="400" fetchpriority="high" class="post-thumbnail-full" src="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                            {% else %}
                                <img width="600" height="360" fetchpriority="high" class="post-thumbnail" src="{{ "/images/" | append: page.banner_image | prepend: site.baseurl }}" alt="{% if page.banner_image_alt %}{{ page.banner_image_alt }}{% else %}{{ page.title }}{% endif %}">
                            {% endif %}
                        {% endif %}
                        <h1 class="entry-title{% unless page.banner_image and page.show_banner_image != false %} entry-title--title-only{% endunless %}">{{page.title}}</h1>
                    </div><!-- .entry-header-wrap -->
                </header><!-- .entry-header -->
                <div class="entry-content {% if page.noMargins %} no-margins {% endif %}">
                    {{content}}
                </div><!-- .entry-content -->
            </article><!-- .post -->
            {% if site.disqus and page.comments %}
                {% include disqus.html %}
            {% endif %}
        </main><!-- .site-main -->
        {% if page.sidebar != false %}
            {% include sidebar.html %}
        {% endif %}
    </div><!-- .inner -->
</div><!-- .site-content -->
